img {
  width: 40%;
}

.slide-container,
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-lessthan {
  position: relative;
  left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-color: azure;
  font-size: x-large;
  font-weight: bolder;
  background-color: black;
  color: azure;

}
.button-greaterthan {
    position: relative;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-color: azure;
    font-size: x-large;
    font-weight: bolder;
    background-color: black;
    color: azure;
}

.test {
  display: none;
}